@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {

	/* COLOR */
	--color-black: #000000;
	--color-gray-500: #808080;
	--color-gray-800: #e5e5e5;
	--color-gray-900: #f7f7f7;
	--color-white: #FFFFFF;
	/*COLOR TOKENS */
	/* Text */
	--text-color-primary: var(--color-black);
	--text-color-secondary: var(--color-gray-500);
	/* Background */
	--background-main-color: var(--color-white);

	/* SIZE */
	--size-basic: 20px;

}



/* DARK COLOR THEME */
@media (prefers-color-scheme: dark) {
	:root {
	}
}

/* MOBILE RESIZE */
@media screen and (max-width: 480px) {
	:root {
		--size-basic: 17px;
	}
}