<template>
  <div>

    <div class="intro">

      <h1>Module agency<br/>We design digital products</h1>

      <a href="media/module-ourwork.pdf" target="_blank" class="button">Our work</a>

    </div>

    <div id="video" style="width: 100%">
      <video ref="vid" id="showreel" autoplay loop muted poster="/media/poster.png">
        <source src="/media/reel.mp4" type="video/mp4">
        <source src="/media/reel.ogg" type="video/ogg">
        <source src="/media/reel.webm" type="video/webm">
      </video>
    </div>

    <div class="intro">
      <ul>
        <!-- <li><a href="https://blog.module.agency" target="_blank" class="small">Blog</a></li> -->
        <!-- <li><a href="" target="_blank" class="small">Dribbble</a></li> -->
        <li><a href="mailto:in@module.agency" class="small">in@module.agency</a></li>
        <li><small>Tel Aviv, Israel</small></li>
      </ul>
    </div>

  </div>
</template>

<script>
  export default {
    mounted() {
        this.$refs.vid.play();
    }
  }
</script>

<style>
html {
	font-family: 'Poppins', sans-serif;
	font-size: var(--size-basic);
	color: var(--text-color-primary);
  text-rendering: optimizeLegibility;
  font-weight: 500;
  letter-spacing: 0.02rem;
  background-color: #EBEFF7;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.075rem;
  margin-bottom: 8rem;
}

p {
    line-height: 150%;
	  color: var(--text-color-secondary);
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
  transition: 0.2s ease;
}

a:hover {
  opacity: 0.5;
}

.intro {
  max-width: 1280px;
  width: 100%;
  padding: 4rem;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: var(--size-basic);
  transition: 0.2s ease;
}

video {
  width: 100%;
  background-color: #fafafa;
  object-fit: fill;
}

.intro ul {
  display: flex;
  flex-direction: row;
  grid-gap: 4rem;
  margin-bottom: 4rem;
}

small, .small {
  display: block;
  font-size: 0.75rem;
  color: var(--text-color-secondary);
}

/* MOBILE RESIZE CONFIG */
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }

	.intro {
    padding: 2rem;
	}

  h1 {
    margin-bottom: 6rem;
  }

.intro ul {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

.intro ul li a {
  display: block;
  width: 100%;
}

}
</style>